<script>
import Column from "../elements/column"
export default {
  components: {
    Column
  },
  computed: {
    columns() {
      return this.$root.store.get("columns", [
        {
          id: "home",
          type: "home",
          name: "Home",
          params: {}
        }
      ])
    }
  }
}
</script>

<style scoped>
.columns {
  display: flex;
  height: 100%;
}

.column {
  min-width: 300px;
  width: 20vw;
  margin-right: 1rem;
}

.column:last-child {
  margin-right: 0;
}
</style>

<template>
  <div class="columns">
    <Column v-for="column in this.columns" :key="column.id" class="column" :definition="column" />
  </div>
</template>
