<script>
import adapters from "../../lib/adapters"
import { setImmediate } from "timers"
import Promise from "bluebird"

export default {
  props: {
    required: {
      type: Boolean,
      default: false
    }
  },

  data() {
    return {
      step: 0,
      loading: false,
      form: {
        adapter: "mastodon"
      }
    }
  },

  methods: {
    onSelectCard(adapter) {
      this.form.adapter = adapter
      this.step++
    },
    onConnectComplete(params) {
      this.$root.store.set(
        `adapters.${params.id}`,
        Object.assign(params, { adapter: this.form.adapter })
      )
      this.$root.refreshSessions()
    },
    onSubmit(ev) {
      ev.preventDefault()
      this.loading = true

      Promise.resolve(this.$root.adapters[this.form.adapter])
        .tap(Adapter => {
          if (!Adapter) {
            throw new Error("Adapter not found")
          }
        })
        .tap(() => {
          if (this.$root.sessions.has(this.form.handle)) {
            throw new Error("Session already registered")
          }
        })
        .then(Adapter => {
          const adapter = new Adapter(this.form.handle)
          return adapter.login()
        })
        .catch(err => {
          this.$notify.error({
            title: "Failed to login",
            message: err.message
          })
        })
        .finally(() => {
          this.loading = false
        })
    }
  }
}
</script>

<style scoped>
h1 {
  margin-top: 0;
  text-align: center;
}

.card-box .logo {
  height: 20px;
  float: left;
  margin-right: 5px;
}

.login-steps {
  margin-bottom: 1rem;
}
</style>

<template>
  <div>
    <h1>Login</h1>
    <Steps :current="step" class="login-steps">
      <Step title="Adapter" />
      <Step title="Connect" />
    </Steps>

    <template v-if="step === 0">
      <p>Select the Adapter of your choice</p>

      <div class="card-box">
        <Card v-for="(adapter, id) in $root.adapters" :key="id" style="width: 300px" dis-hover>
          <p slot="title">
            <img :src="adapter.icon" alt="Logo" class="logo" /> {{ adapter.name }}
          </p>

          <Button slot="extra" type="primary" size="small" @click="onSelectCard(id, $event)">
            <Icon type="checkmark-round" /> Select
          </Button>

          <p>
            {{ adapter.description }}
          </p>
        </Card>
      </div>
    </template>

    <template v-else-if="step === 1">
      <component :is="$root.adapters[form.adapter].ConnectionComponent" @complete="onConnectComplete" />
    </template>
  </div>
</template>
