<script>
import Box from '../elements/box'

export default {
  components: {
    Box
  },
  mounted () {
    this.$root.loaded()
  }
}
</script>

<style module>
.landingpage {
  background-image: url('../../images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;

  min-width: 100vw;
  min-height: 100vh;
}

.landingpage-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: color-mod(var(--color-dark) alpha(0.8));
  padding-top: 2rem;

  display: grid;

  grid-template-rows: calc(250px + 2rem) auto;
  grid-template-columns: 50% 50%;
  grid-template-areas: 'logo logo' 'teaser login';
}

.logo {
  grid-area: logo;
  margin: 0 auto 2rem;
}

.teaser {
  color: var(--color-highlight);
  grid-area: teaser;
  margin-left: auto;
  margin-right: 2rem;
  text-align: right;
  width: calc(var(--container-width) / 2);
}

.login {
  grid-area: login;
  margin-right: auto;
  margin-left: 2rem;
  width: calc(var(--container-width) / 2);
}
</style>

<template>
  <div :class="$style.landingpage">
    <div :class="$style.landingpageInner">
      <div :class="$style.logo">
        <img src="../../images/logo-large.png">
      </div>

      <div :class="$style.teaser">
        <p>
          <b>Pitaya</b> is your multi account timeline to the Fediverse. With an evergrowing list of supported providers you can connect to different services and view your posts in a TweetDeck-like interface.
        </p>

        <blockquote
          cite="https://fediverse.party/en/fediverse/"
          class="right"
        >
          <p>
            <b>Fediverse</b> is a portmanteau of two words “federation” and “universe”.
          </p>
          <p>
            It is a common, widely acknowledged name for federated social networks running on free open software on a myriad of servers across the world. Historically, this term has included only microblogging platforms supporting a set of protocols called OStatus. This didn't do justice to a large set of macroblogging social networks that share same values and are reasonably popular. With the appearance of a new standard protocol called ActivityPub that will soon be supported by most federated networks it makes no sense to further divide the federated world into “OStatus” and “non-OStatus” projects. This WIKI unites all interoperable federated social networks under one term “Fediverse”.
          </p>

          <footer>
            Introduction to Fediverse from
            <cite>
              <a
                href="https://fediverse.party/en/fediverse/"
                target="_BLANK"
              >fediverse.party</a>
            </cite>.
          </footer>
        </blockquote>
      </div>

      <div :class="$style.login">
        <box title="Login to the Fediverse!">
          <ui-button button-type="button">
            <slot name="icon"><span
              class="lsf-small-icon"
              aria-hidden="true"
              title="network"
            /></slot>
            Connect to an instance
          </ui-button>
        </box>
      </div>
    </div>
  </div>
</template>
