<script>
export default {
  props: {
    width: {
      type: Number,
      default: 200
    },
    height: {
      type: Number,
      default: 200
    }
  }
}
</script>

<template>
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 503.47 503.47" style="enable-background:new 0 0 503.47 503.47;" xml:space="preserve" :width="this.width" :height="this.height">
    <g transform=" translate(-1) ">
      <path style="fill:#00AD97; " d="M218.637,42.667l26.501-37.95C246.583,1.826,249.538,0,252.77,0c3.232,0,6.187,1.826,7.632,4.717 l26.501,37.95l-13.902,23.214l-36-0.267L218.637,42.667z " />
      <g>
        <path style="fill:#23B972; " d="M331.668,79.481L175.97,78.933l-3.265-16.324c-3.469-17.345-3.043-35.244,1.247-52.404l2.018-8.071 l19.446,19.446c9.728,9.728,20.961,17.824,33.266,23.977l15.555,7.777h20.015l15.555-7.777 c12.305-6.153,23.538-14.249,33.266-23.977l19.446-19.446l2.018,8.071c4.29,17.16,4.716,35.059,1.247,52.404l-3.265,16.324 " />
        <path style="fill:#23B972; " d="M457.535,343.129c0.3,19.13-5.863,37.801-17.493,52.992c-9.91,13.485-25.51,21.616-42.24,22.016 h-17.237c10.385-17.473,18.5-36.198,24.149-55.723c11.446-3.211,21.839-9.393,30.123-17.92l9.387-9.387 C449.599,329.731,457.535,334.51,457.535,343.129z " />
        <path style="fill:#23B972; " d="M124.991,418.137h-17.323c-16.73-0.4-32.33-8.531-42.24-22.016 c-11.63-15.191-17.793-33.862-17.493-52.992c0-8.619,7.936-13.397,13.312-8.021l9.387,9.387 c8.298,8.57,18.722,14.784,30.208,18.005C106.401,382.03,114.521,400.738,124.991,418.137L124.991,418.137z " />
        <path style="fill:#23B972; " d="M420.756,194.051l-17.067,17.067c-5.247-19.138-12.423-37.693-21.419-55.381 c8.485-11.557,12.897-25.603,12.544-39.936v-13.227c0-7.595,9.045-9.899,15.104-3.755c13.723,13.322,22.561,30.877,25.088,49.835 C437.535,165.176,432.273,181.938,420.756,194.051L420.756,194.051z " />
        <path style="fill:#23B972; " d="M123.284,155.737c-8.973,17.678-16.176,36.2-21.504,55.296l-16.981-16.981 c-11.552-12.092-16.82-28.872-14.251-45.397c2.49-18.97,11.333-36.536,25.088-49.835c6.059-6.144,15.104-3.84,15.104,3.755v13.227 C110.387,130.134,114.799,144.18,123.284,155.737L123.284,155.737z " />
      </g>
      <path style="fill:#E76573; " d="M412.223,211.118c-5.247-19.138-12.423-37.693-21.419-55.381 C360.34,95.833,310.932,51.203,252.735,51.203c-58.112,0-107.605,44.629-137.984,104.533c-8.973,17.678-16.176,36.2-21.504,55.296 c-7.282,25.567-11.042,52.008-11.179,78.592c-0.063,24.654,3.385,49.192,10.24,72.875c5.559,19.53,13.68,38.239,24.149,55.637 c31.147,51.797,80.725,85.333,136.277,85.333c55.637,0,105.131-33.536,136.363-85.333c10.385-17.473,18.5-36.198,24.149-55.723 c6.785-23.666,10.203-48.17,10.155-72.789C423.265,263.069,419.504,236.656,412.223,211.118z " />
      <path style="fill:#FFFFFF; " d="M252.77,460.117c-70.583,0-128-76.475-128-170.467c0-100.283,62.208-195.101,128-195.101 s128,94.818,128,195.101C380.77,383.643,323.354,460.117,252.77,460.117z " />
      <g>
        <path style="fill:#445C71; " d="M252.735,290.139c-4.699-0.033-8.501-3.834-8.533-8.533c0.011-1.117,0.242-2.222,0.679-3.25 c0.414-1.064,1.055-2.026,1.879-2.817c1.579-1.627,3.75-2.544,6.017-2.544c2.267,0,4.438,0.918,6.017,2.544 c0.796,0.813,1.432,1.769,1.875,2.817c0.8,2.09,0.8,4.402,0,6.492c-0.432,1.054-1.069,2.012-1.875,2.817 C257.166,289.235,254.997,290.121,252.735,290.139L252.735,290.139z " />
        <path style="fill:#445C71; " d="M210.068,290.139c-2.855,0.024-5.529-1.393-7.113-3.768c-1.583-2.376-1.862-5.389-0.741-8.015 c0.393-1.075,1.038-2.041,1.879-2.817c3.393-3.15,8.641-3.15,12.033,0c0.814,0.799,1.452,1.758,1.875,2.817 c0.8,2.09,0.8,4.402,0,6.492c-0.432,1.054-1.069,2.012-1.875,2.817C214.499,289.235,212.33,290.121,210.068,290.139 L210.068,290.139z " />
        <path style="fill:#445C71; " d="M167.402,290.139c-2.855,0.024-5.529-1.393-7.113-3.768c-1.583-2.376-1.862-5.389-0.741-8.015 c0.393-1.075,1.038-2.041,1.879-2.817c3.393-3.15,8.641-3.15,12.033,0c0.814,0.799,1.452,1.758,1.875,2.817 c1.248,3.202,0.516,6.839-1.875,9.308C171.833,289.235,169.664,290.121,167.402,290.139L167.402,290.139z " />
        <path style="fill:#445C71; " d="M295.402,290.139c-3.448-0.011-6.549-2.1-7.854-5.292c-0.794-2.091-0.794-4.401,0-6.492 c0.393-1.075,1.038-2.041,1.879-2.817c0.781-0.795,1.707-1.431,2.729-1.875c2.108-0.85,4.463-0.85,6.571,0 c1.023,0.444,1.951,1.08,2.733,1.875c0.796,0.813,1.432,1.769,1.875,2.817c0.8,2.09,0.8,4.402,0,6.492 c-0.464,1.037-1.098,1.989-1.875,2.817C299.832,289.235,297.664,290.121,295.402,290.139L295.402,290.139z " />
        <path style="fill:#445C71; " d="M338.068,290.139c-3.448-0.011-6.549-2.1-7.854-5.292c-0.906-2.069-0.906-4.422,0-6.492 c0.393-1.075,1.038-2.041,1.879-2.817c0.781-0.795,1.707-1.431,2.729-1.875c2.108-0.85,4.463-0.85,6.571,0 c1.023,0.444,1.951,1.08,2.733,1.875c0.796,0.813,1.432,1.769,1.875,2.817c1.248,3.202,0.516,6.839-1.874,9.308 C342.499,289.235,340.331,290.121,338.068,290.139L338.068,290.139z " />
        <path style="fill:#445C71; " d="M252.735,221.872c-2.245,0.02-4.402-0.873-5.975-2.475c-0.806-0.806-1.444-1.763-1.879-2.817 c-0.41-1.031-0.612-2.132-0.596-3.242c-0.007-2.269,0.882-4.45,2.475-6.067c2.01-2.009,4.896-2.873,7.679-2.3 c0.55,0.102,1.091,0.245,1.621,0.425c0.502,0.255,0.988,0.542,1.454,0.858c0.482,0.262,0.915,0.606,1.279,1.017 c1.592,1.617,2.482,3.797,2.475,6.067c0.017,1.11-0.187,2.212-0.6,3.242c-0.432,1.054-1.069,2.012-1.875,2.817 C257.187,221.001,255.004,221.893,252.735,221.872L252.735,221.872z " />
        <path style="fill:#445C71; " d="M210.068,221.872c-2.242,0.004-4.393-0.887-5.975-2.475c-0.806-0.806-1.444-1.763-1.879-2.817 c-0.906-2.069-0.906-4.423,0-6.492c0.393-1.075,1.038-2.041,1.879-2.817c2.01-2.009,4.896-2.873,7.679-2.3 c0.55,0.102,1.091,0.245,1.621,0.425c0.512,0.236,1,0.524,1.454,0.858c0.482,0.262,0.915,0.606,1.279,1.017 c0.814,0.799,1.452,1.758,1.875,2.817c0.8,2.09,0.8,4.402,0,6.492c-0.464,1.037-1.098,1.989-1.875,2.817 C214.521,221.002,212.338,221.893,210.068,221.872L210.068,221.872z " />
        <path style="fill:#445C71; " d="M167.402,221.872c-2.245,0.02-4.402-0.873-5.975-2.475c-0.806-0.806-1.444-1.763-1.879-2.817 c-0.436-1.026-0.667-2.127-0.679-3.242c0.024-2.279,0.943-4.458,2.558-6.067c2.017-1.998,4.896-2.86,7.679-2.3 c0.55,0.102,1.091,0.244,1.621,0.425c0.502,0.255,0.988,0.542,1.454,0.858c0.482,0.262,0.915,0.606,1.279,1.017 c1.592,1.617,2.482,3.797,2.475,6.067c0.017,1.11-0.187,2.212-0.6,3.242c-0.432,1.054-1.069,2.012-1.875,2.817 C171.854,221.001,169.671,221.893,167.402,221.872L167.402,221.872z " />
        <path style="fill:#445C71; " d="M295.402,221.872c-2.232-0.043-4.366-0.927-5.975-2.475c-0.806-0.806-1.444-1.763-1.879-2.817 c-0.906-2.069-0.906-4.423,0-6.492c0.393-1.075,1.038-2.041,1.879-2.817c0.345-0.43,0.782-0.777,1.279-1.017 c0.454-0.334,0.939-0.621,1.45-0.858c0.527-0.191,1.071-0.333,1.625-0.425c1.093-0.258,2.232-0.258,3.325,0 c0.55,0.102,1.091,0.245,1.621,0.425c0.512,0.236,1,0.524,1.454,0.858c0.482,0.262,0.915,0.606,1.279,1.017 c0.814,0.799,1.452,1.758,1.875,2.817c0.8,2.09,0.8,4.402,0,6.492c-0.464,1.037-1.098,1.989-1.875,2.817 C299.854,221.002,297.671,221.893,295.402,221.872z " />
        <path style="fill:#445C71; " d="M210.068,153.606c-4.663-0.118-8.415-3.87-8.533-8.533c0.011-1.117,0.242-2.222,0.679-3.25 c0.414-1.064,1.055-2.026,1.879-2.817c3.393-3.15,8.641-3.15,12.033,0c0.796,0.813,1.432,1.769,1.875,2.817 c0.414,1.033,0.618,2.138,0.6,3.25c0.038,2.246-0.858,4.407-2.475,5.967C214.555,152.704,212.358,153.635,210.068,153.606 L210.068,153.606z " />
        <path style="fill:#445C71; " d="M295.402,153.606c-2.265,0.028-4.436-0.905-5.975-2.567c-1.64-1.551-2.566-3.71-2.558-5.967 c0.011-1.117,0.242-2.222,0.679-3.25c0.414-1.064,1.055-2.026,1.879-2.817c3.393-3.15,8.641-3.15,12.033,0 c0.796,0.813,1.432,1.769,1.875,2.817c0.414,1.033,0.618,2.138,0.6,3.25c0.038,2.246-0.858,4.407-2.475,5.967 c-0.76,0.823-1.693,1.467-2.733,1.883C297.675,153.369,296.545,153.601,295.402,153.606z " />
        <path style="fill:#445C71; " d="M338.068,221.872c-2.245,0.02-4.402-0.873-5.975-2.475c-0.806-0.806-1.444-1.763-1.879-2.817 c-0.436-1.026-0.667-2.127-0.679-3.242c0.024-2.279,0.943-4.458,2.558-6.067c2.01-2.009,4.896-2.873,7.679-2.3 c0.55,0.102,1.091,0.244,1.621,0.425c0.502,0.255,0.988,0.542,1.454,0.858c0.467,0.285,0.896,0.626,1.279,1.017 c1.615,1.609,2.534,3.787,2.558,6.067c-0.012,1.115-0.244,2.217-0.683,3.242c-0.464,1.037-1.098,1.989-1.875,2.817 C342.521,221.001,340.338,221.893,338.068,221.872L338.068,221.872z " />
        <path style="fill:#445C71; " d="M252.735,358.406c-2.855,0.024-5.529-1.393-7.113-3.768c-1.583-2.376-1.862-5.389-0.741-8.015 c0.393-1.075,1.038-2.041,1.879-2.817c3.393-3.15,8.641-3.15,12.033,0c0.814,0.799,1.452,1.758,1.875,2.817 c1.09,2.639,0.787,5.649-0.808,8.018C258.265,357.009,255.591,358.423,252.735,358.406L252.735,358.406z " />
        <path style="fill:#445C71; " d="M210.068,358.406c-2.245,0.02-4.402-0.873-5.975-2.475c-2.504-2.409-3.252-6.117-1.879-9.308 c0.393-1.075,1.038-2.041,1.879-2.817c0.805-0.765,1.726-1.398,2.729-1.875c1.576-0.609,3.293-0.757,4.95-0.425 c0.55,0.102,1.091,0.245,1.621,0.425c0.502,0.255,0.988,0.542,1.454,0.858c0.467,0.285,0.896,0.626,1.279,1.017 c0.814,0.799,1.452,1.758,1.875,2.817c1.248,3.202,0.516,6.838-1.875,9.308C214.496,357.497,212.329,358.382,210.068,358.406 L210.068,358.406z " />
        <path style="fill:#445C71; " d="M167.402,358.406c-2.855,0.024-5.529-1.393-7.113-3.768c-1.583-2.376-1.862-5.389-0.741-8.015 c0.393-1.075,1.038-2.041,1.879-2.817c2.46-2.402,6.101-3.137,9.3-1.875c1.004,0.477,1.927,1.11,2.733,1.875 c0.814,0.799,1.452,1.758,1.875,2.817c1.09,2.639,0.787,5.649-0.808,8.018C172.932,357.009,170.257,358.423,167.402,358.406 L167.402,358.406z " />
        <path style="fill:#445C71; " d="M295.402,358.406c-2.855,0.024-5.529-1.393-7.113-3.768c-1.583-2.376-1.862-5.389-0.741-8.015 c0.414-1.064,1.055-2.026,1.879-2.817c3.393-3.15,8.641-3.15,12.033,0c1.592,1.617,2.482,3.797,2.475,6.067 c-0.01,2.264-0.897,4.435-2.475,6.059C299.829,357.498,297.662,358.383,295.402,358.406L295.402,358.406z " />
        <path style="fill:#445C71; " d="M252.735,426.672c-2.232-0.043-4.366-0.927-5.975-2.475c-1.6-1.615-2.516-3.785-2.558-6.059 c0.024-2.279,0.943-4.458,2.558-6.067c0.805-0.765,1.726-1.398,2.729-1.875c2.108-0.85,4.463-0.85,6.571,0 c1.004,0.477,1.927,1.11,2.733,1.875c1.592,1.617,2.482,3.797,2.475,6.067c0.017,1.11-0.187,2.212-0.6,3.242 C259.319,424.572,256.199,426.653,252.735,426.672L252.735,426.672z " />
        <path style="fill:#445C71; " d="M210.068,426.672c-2.232-0.043-4.366-0.927-5.975-2.475c-0.806-0.806-1.444-1.763-1.879-2.817 c-0.41-1.031-0.612-2.132-0.596-3.242c-0.007-2.269,0.882-4.45,2.475-6.067c2.01-2.009,4.896-2.873,7.679-2.3 c0.55,0.102,1.091,0.245,1.621,0.425c0.502,0.255,0.988,0.542,1.454,0.858c0.446,0.314,0.873,0.654,1.279,1.017 c1.606,1.608,2.497,3.794,2.475,6.067c0.017,1.11-0.187,2.212-0.6,3.242c-0.464,1.037-1.098,1.989-1.875,2.817 c-1.631,1.566-3.798,2.452-6.059,2.475H210.068z " />
        <path style="fill:#445C71; " d="M295.402,426.672c-2.232-0.043-4.366-0.927-5.975-2.475c-0.806-0.806-1.444-1.763-1.879-2.817 c-0.436-1.026-0.667-2.127-0.679-3.242c0.013-0.573,0.07-1.144,0.171-1.708c0.171-0.517,0.341-1.025,0.508-1.542 c0.258-0.508,0.513-1.017,0.771-1.533c0.347-0.446,0.717-0.875,1.108-1.283c3.393-3.15,8.641-3.15,12.033,0 c0.39,0.386,0.732,0.817,1.021,1.283c0.316,0.493,0.601,1.005,0.854,1.533c0.182,0.502,0.325,1.018,0.429,1.542 c0.142,0.558,0.199,1.134,0.171,1.708c0.017,1.11-0.187,2.212-0.6,3.242C301.986,424.572,298.866,426.653,295.402,426.672z " />
        <path style="fill:#445C71; " d="M252.735,153.606c-4.663-0.118-8.415-3.87-8.533-8.533c0.011-1.117,0.242-2.222,0.679-3.25 c0.414-1.064,1.055-2.026,1.879-2.817c3.351-3.253,8.682-3.253,12.033,0c0.796,0.813,1.432,1.769,1.875,2.817 c0.8,2.09,0.8,4.402,0,6.492c-0.411,1.038-1.052,1.97-1.875,2.725C257.222,152.704,255.025,153.635,252.735,153.606 L252.735,153.606z " />
        <path style="fill:#445C71; " d="M338.068,358.406c-2.855,0.024-5.529-1.393-7.113-3.768c-1.583-2.376-1.862-5.389-0.741-8.015 c0.393-1.075,1.038-2.041,1.879-2.817c0.345-0.43,0.782-0.777,1.279-1.017c0.454-0.334,0.939-0.621,1.45-0.858 c0.527-0.191,1.071-0.333,1.625-0.425c1.656-0.324,3.37-0.177,4.946,0.425c1.004,0.477,1.927,1.11,2.733,1.875 c0.814,0.799,1.452,1.758,1.875,2.817c0.414,1.033,0.618,2.138,0.6,3.25c0.006,2.267-0.884,4.444-2.475,6.059 C342.521,357.535,340.338,358.427,338.068,358.406L338.068,358.406z " />
        <path style="fill:#445C71; " d="M227.135,256.006c-2.245,0.02-4.402-0.873-5.975-2.475c-0.806-0.806-1.444-1.763-1.879-2.817 c-0.906-2.069-0.906-4.423,0-6.492c0.414-1.064,1.055-2.026,1.879-2.817c3.35-3.256,8.683-3.256,12.033,0 c0.796,0.813,1.432,1.769,1.875,2.817c0.8,2.09,0.8,4.402,0,6.492c-0.464,1.037-1.098,1.989-1.875,2.817 C231.563,255.098,229.396,255.983,227.135,256.006L227.135,256.006z " />
        <path style="fill:#445C71; " d="M184.468,256.006c-2.242,0.004-4.393-0.887-5.975-2.475c-0.806-0.806-1.444-1.763-1.879-2.817 c-0.906-2.069-0.906-4.423,0-6.492c0.414-1.064,1.055-2.026,1.879-2.817c3.351-3.253,8.682-3.253,12.033,0 c0.796,0.813,1.432,1.769,1.875,2.817c0.8,2.09,0.8,4.402,0,6.492c-0.432,1.054-1.069,2.012-1.875,2.817 C188.921,255.135,186.738,256.027,184.468,256.006L184.468,256.006z " />
        <path style="fill:#445C71; " d="M269.885,256.006c-2.273,0.037-4.462-0.857-6.059-2.475c-0.806-0.806-1.444-1.763-1.879-2.817 c-0.906-2.069-0.906-4.423,0-6.492c0.414-1.064,1.055-2.026,1.879-2.817c3.35-3.256,8.683-3.256,12.033,0 c0.796,0.813,1.432,1.769,1.875,2.817c0.8,2.09,0.8,4.402,0,6.492c-0.464,1.037-1.098,1.989-1.875,2.817 C274.25,255.077,272.117,255.961,269.885,256.006L269.885,256.006z " />
        <path style="fill:#445C71; " d="M312.468,256.006c-2.232-0.043-4.366-0.927-5.975-2.475c-0.806-0.806-1.444-1.763-1.879-2.817 c-0.906-2.069-0.906-4.423,0-6.492c0.414-1.064,1.055-2.026,1.879-2.817c3.393-3.15,8.641-3.15,12.033,0 c0.796,0.813,1.432,1.769,1.875,2.817c0.8,2.09,0.8,4.402,0,6.492c-0.432,1.054-1.069,2.012-1.875,2.817 C316.921,255.135,314.738,256.027,312.468,256.006L312.468,256.006z " />
        <path style="fill:#445C71; " d="M227.135,187.739c-2.242,0.004-4.393-0.887-5.975-2.475c-0.806-0.806-1.444-1.763-1.879-2.817 c-0.436-1.026-0.667-2.127-0.679-3.242c0.024-2.279,0.943-4.458,2.558-6.067c3.393-3.15,8.641-3.15,12.033,0 c1.592,1.617,2.482,3.797,2.475,6.067c0.017,1.11-0.187,2.212-0.6,3.242c-0.464,1.037-1.098,1.989-1.875,2.817 C231.562,186.831,229.395,187.716,227.135,187.739L227.135,187.739z " />
        <path style="fill:#445C71; " d="M184.468,187.739c-2.245,0.02-4.402-0.873-5.975-2.475c-0.806-0.806-1.444-1.763-1.879-2.817 c-0.436-1.026-0.667-2.127-0.679-3.242c0.024-2.279,0.943-4.458,2.558-6.067c0.805-0.765,1.726-1.398,2.729-1.875 c3.2-1.262,6.843-0.527,9.304,1.875c1.592,1.617,2.482,3.797,2.475,6.067c0.017,1.11-0.187,2.212-0.6,3.242 c-0.432,1.054-1.069,2.012-1.875,2.817C188.921,186.868,186.738,187.76,184.468,187.739L184.468,187.739z " />
        <path style="fill:#445C71; " d="M269.802,187.739c-2.245,0.02-4.402-0.873-5.975-2.475c-0.806-0.806-1.444-1.763-1.879-2.817 c-0.436-1.026-0.667-2.127-0.679-3.242c0.024-2.279,0.943-4.458,2.558-6.067c0.805-0.765,1.726-1.398,2.729-1.875 c3.2-1.262,6.842-0.527,9.304,1.875c1.592,1.617,2.482,3.797,2.475,6.067c0.017,1.11-0.187,2.212-0.6,3.242 c-0.432,1.054-1.069,2.012-1.875,2.817C274.254,186.868,272.071,187.76,269.802,187.739L269.802,187.739z " />
        <path style="fill:#445C71; " d="M312.468,187.739c-2.242,0.004-4.393-0.887-5.975-2.475c-0.806-0.806-1.444-1.763-1.879-2.817 c-0.436-1.026-0.667-2.127-0.679-3.242c0.024-2.279,0.943-4.458,2.558-6.067c3.393-3.15,8.641-3.15,12.033,0 c1.592,1.617,2.482,3.797,2.475,6.067c0.017,1.11-0.187,2.212-0.6,3.242c-0.432,1.054-1.069,2.012-1.875,2.817 C316.921,186.868,314.738,187.76,312.468,187.739L312.468,187.739z " />
        <path style="fill:#445C71; " d="M227.135,324.272c-2.232-0.043-4.366-0.927-5.975-2.475c-0.806-0.806-1.444-1.763-1.879-2.817 c-0.436-1.026-0.667-2.127-0.679-3.242c0.024-2.279,0.943-4.458,2.558-6.067c3.393-3.15,8.641-3.15,12.033,0 c1.606,1.608,2.497,3.794,2.475,6.067c0.017,1.11-0.187,2.212-0.6,3.242c-0.464,1.037-1.098,1.989-1.875,2.817 C231.562,323.364,229.395,324.249,227.135,324.272L227.135,324.272z " />
        <path style="fill:#445C71; " d="M184.468,324.272c-2.232-0.043-4.366-0.927-5.975-2.475c-0.806-0.806-1.444-1.763-1.879-2.817 c-0.436-1.026-0.667-2.127-0.679-3.242c0.024-2.279,0.943-4.458,2.558-6.067c2.01-2.009,4.896-2.873,7.679-2.3 c0.561,0.093,1.107,0.264,1.621,0.508c0.517,0.192,1.006,0.453,1.454,0.775c0.446,0.314,0.873,0.654,1.279,1.017 c1.606,1.608,2.497,3.794,2.475,6.067c0.017,1.11-0.187,2.212-0.6,3.242c-0.464,1.037-1.098,1.989-1.875,2.817 C188.921,323.401,186.738,324.293,184.468,324.272L184.468,324.272z " />
        <path style="fill:#445C71; " d="M269.802,324.272c-2.232-0.043-4.366-0.927-5.975-2.475c-0.806-0.806-1.444-1.763-1.879-2.817 c-1.373-3.191-0.625-6.9,1.879-9.308c3.393-3.15,8.641-3.15,12.033,0c1.606,1.608,2.497,3.794,2.475,6.067 c0.017,1.11-0.187,2.212-0.6,3.242c-0.464,1.037-1.098,1.989-1.875,2.817C274.254,323.402,272.071,324.293,269.802,324.272 L269.802,324.272z " />
        <path style="fill:#445C71; " d="M312.468,324.272c-2.232-0.043-4.366-0.927-5.975-2.475c-0.806-0.806-1.444-1.763-1.879-2.817 c-0.436-1.026-0.667-2.127-0.679-3.242c0.024-2.279,0.943-4.458,2.558-6.067c3.393-3.15,8.641-3.15,12.033,0 c1.592,1.617,2.482,3.797,2.475,6.067c0.017,1.11-0.187,2.212-0.6,3.242c-0.432,1.054-1.069,2.012-1.875,2.817 C316.921,323.401,314.738,324.293,312.468,324.272L312.468,324.272z " />
        <path style="fill:#445C71; " d="M227.135,392.539c-2.855,0.024-5.529-1.393-7.113-3.768c-1.583-2.376-1.862-5.389-0.741-8.015 c0.414-1.064,1.055-2.026,1.879-2.817c0.37-0.404,0.802-0.747,1.279-1.017c0.436-0.338,0.927-0.6,1.45-0.775 c0.51-0.257,1.059-0.428,1.625-0.508c1.662-0.338,3.387-0.16,4.946,0.508c1.017,0.417,1.945,1.025,2.733,1.792 c0.814,0.799,1.452,1.758,1.875,2.817c1.248,3.202,0.516,6.838-1.875,9.308C231.566,391.635,229.397,392.521,227.135,392.539 L227.135,392.539z " />
        <path style="fill:#445C71; " d="M184.468,392.539c-2.232-0.043-4.366-0.927-5.975-2.475c-1.614-1.606-2.532-3.782-2.558-6.059 c0.011-1.117,0.242-2.222,0.679-3.25c0.393-1.075,1.038-2.041,1.879-2.817c0.787-0.767,1.713-1.375,2.729-1.792 c1.558-0.677,3.287-0.854,4.95-0.508c0.561,0.093,1.107,0.264,1.621,0.508c0.525,0.174,1.017,0.436,1.454,0.775 c0.462,0.292,0.89,0.633,1.279,1.017c0.796,0.813,1.432,1.769,1.875,2.817c0.414,1.033,0.618,2.138,0.6,3.25 c-0.01,2.264-0.897,4.435-2.475,6.059C188.896,391.631,186.729,392.516,184.468,392.539L184.468,392.539z " />
        <path style="fill:#445C71; " d="M269.802,392.539c-2.232-0.043-4.366-0.927-5.975-2.475c-0.806-0.806-1.444-1.763-1.879-2.817 c-0.906-2.069-0.906-4.423,0-6.492c0.393-1.075,1.038-2.041,1.879-2.817c0.787-0.767,1.713-1.375,2.729-1.792 c1.558-0.677,3.287-0.855,4.95-0.508c0.561,0.093,1.107,0.264,1.621,0.508c0.517,0.192,1.006,0.453,1.454,0.775 c0.462,0.292,0.89,0.633,1.279,1.017c0.814,0.799,1.452,1.758,1.875,2.817c1.248,3.202,0.516,6.839-1.875,9.308 C274.23,391.631,272.063,392.516,269.802,392.539L269.802,392.539z " />
        <path style="fill:#445C71; " d="M312.468,392.539c-2.855,0.024-5.529-1.393-7.113-3.768c-1.583-2.376-1.862-5.389-0.741-8.015 c0.393-1.075,1.038-2.041,1.879-2.817c2.01-2.009,4.896-2.873,7.679-2.3c0.561,0.093,1.107,0.264,1.621,0.508 c0.525,0.174,1.017,0.436,1.454,0.775c0.462,0.292,0.89,0.633,1.279,1.017c0.796,0.813,1.432,1.769,1.875,2.817 c0.44,1.028,0.673,2.132,0.683,3.25c-0.042,2.273-0.958,4.443-2.558,6.059C316.896,391.631,314.729,392.516,312.468,392.539 L312.468,392.539z " />
      </g>
    </g>
  </svg>
</template>
