<script>
export default {
  computed: {
    timeline() {
      const timeline = []

      Object.values(this.$root.sessions).timeline.forEach()

      return timeline
    }
  }
}
</script>

<style scoped>
</style>

<template>
  <div>LISTLISTLIST</div>
</template>
