/* inconsolata-regular - latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata Regular'), local('Inconsolata-Regular'),
    url('../fonts/inconsolata-v16-latin-ext_latin-regular.woff2')
      format('woff2');
}
