/* grabbed from http://kudakurage.com/ligature_symbols/ */

@font-face {
  font-family: 'LigatureSymbols';
  src: local('LigatureSymbols'), url('ligatures.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.lsf {
  text-transform: lowercase;
  font-family: 'LigatureSymbols';
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  font-feature-settings: "liga" 1, "dlig" 1;
}

.lsf-icon:before {
  text-transform: lowercase;
  content: attr(title);
  margin-right: 0.3em;
  font-size: 130%;
  font-family: 'LigatureSymbols';
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  font-feature-settings: "liga" 1, "dlig" 1;
}

.lsf-small-icon:before {
  text-transform: lowercase;
  content: attr(title);
  margin-right: 0.3em;
  font-family: 'LigatureSymbols';
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  font-feature-settings: "liga" 1, "dlig" 1;
}
