.dialog {
  width: 400px;
  min-height: 200px;
  max-height: 750px;
  overflow: auto;

  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background: linear-gradient(
    170deg,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.4) 5rem
  );

  margin: 10vh auto 0;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #fff;
  color: var(--color-text);
  font-family: var(--font-text);
}

a,
a:active,
a:hover,
a:visited,
a:link,
router-link {
  color: var(--color-link);
  cursor: pointer;
}

a:hover,
router-link:hover {
  color: var(--color-link-hover);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headline);
}

blockquote footer {
  font-size: 0.8em;
  font-style: italic;
}

blockquote {
  background: var(--tint-white);
  margin: 1.5em 10px;
  padding: 1em 10px;
}

blockquote > p:first-child {
  margin-top: 0;
  padding-top: 0;
}

blockquote:not(.right) {
  border-left: 10px solid var(--tint-white);
}

blockquote.right {
  border-right: 10px solid var(--tint-white);
}
