/* varela-round-regular - latin-ext_latin */
@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  src: local('Varela Round Regular'), local('VarelaRound-Regular'),
    url('varela-round-v9-latin-ext_latin-regular.woff2') format('woff2');
}
