:root {
  --color-dark: #3c153b;
  --color-highlight: #f3e0cb;
  --color-text: #3b3731;
  --color-link: #cd2159;
  --color-link-hover: #f76b9f;
  --color-neutral: #a790a5;
  --color-brand: #88ad69;

  --color-mastodon: #3088d4;
  --color-pleroma: #fba457;

  --tint-white: rgba(255, 255, 255, 0.4);

  --font-headline: 'Varela Round', sans-serif;
  --font-text: "Lato", sans-serif;
  --font-code: "Inconsolata", monospace;

  --container-width: 1140px;
}
