<script>
import pitaya from "./icon/pitaya"
import login from "./screens/login"
import adapters from "../lib/adapters"

import OverlayLoading from "./overlay-loading"

export default {
  components: {
    pitaya,
    login,
    OverlayLoading
  },

  data() {
    return {
      isCollapsed: false
    }
  },
  computed: {
    menuItemClasses() {
      return ["menu-item", this.isCollapsed ? "collaped-menu" : ""]
    },
    rotateIcon() {
      return ["menu-icon", this.isCollapsed ? "rotate-icon" : ""]
    },
    hasAccounts() {
      return Object.keys(this.$root.sessions).length > 0
    }
  },
  methods: {
    collapsedSider() {
      this.isCollapsed = !this.isCollapsed
      this.$refs.content.classList.toggle("collapsed")
    }
  }
}
</script>

<style scoped>
.pitaya {
  display: grid;

  grid-template-rows: auto;
  grid-template-columns: 200px auto;
  grid-template-areas: "sidebar content";

  min-height: 100vh;
}

.pitaya.collapsed {
  grid-template-columns: 60px auto;
}

.pitaya > * {
  padding: 10px;
}

.pitaya > aside {
  grid-area: sidebar;
  background: var(--color-highlight);
  width: 200px;

  display: flex;
  flex-direction: column;

  overflow: hidden;
  transition: width 0.2s ease;
}

.pitaya.collapsed > aside {
  width: 60px;
}

.pitaya > aside > header {
  margin: -10px -10px 0 -10px;
  padding: 10px;
  flex: 0 60px;
  overflow: hidden;
  white-space: nowrap;

  background: var(--color-dark);
  color: var(--color-highlight);
  font-family: var(--font-headline);
  font-size: 2rem;

  line-height: 2rem;
}

.pitaya > aside nav {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0 -10px -10px;
}

.pitaya > aside nav .spacer {
  flex: 1;
}

.pitaya > aside nav .divider {
  background: var(--color-link);
  height: 1px;
  box-shadow: 0 0 2px var(--color-link-hover);
}

.pitaya > aside a,
.pitaya > aside router-link {
  flex: 0 60px;

  display: block;
  padding: 10px;
  font-size: 1.2rem;
  line-height: 40px;

  text-decoration: none;

  white-space: nowrap;
}

.pitaya > aside a:hover,
.pitaya > aside router-link:hover {
  background: rgba(255, 255, 255, 0.3);
}

.pitaya > aside .icon {
  width: 40px;
  display: inline-block;
  text-align: center;
}

.pitaya > main {
  grid-area: content;
}
</style>

<template>
  <div>
    <overlay-loading v-if="$root.loading" :text="$root.loadingText" />
    <router-view></router-view>
    <!--aside>
      <header>
        <pitaya :width="35" :height="35" class="icon" />
        <span class="expanded">Pitaya</span>
      </header>

      <nav>
        <template v-if="hasAccounts">
          <a href="#home">
            <Icon type="home" />
            <span>Home</span>
          </a>
          <div class="divider"></div>
          <router-link to="/column/add">
            <Icon type="plus-round" />
            <span>Add column</span>
          </router-link>
        </template>

        <div class="spacer"></div>
        <a href="#" @click="collapsedSider">
          <template v-if="!isCollapsed">
            <Lig icon="left" class="icon" /> Collapse
          </template>
          <Lig icon="right" class="icon" v-else />
        </a>

        <router-link to="/accounts" v-if="hasAccounts">
          <Icon type="android-people" />
          <span>Accounts</span>
        </router-link>
        <router-link to="/settings" v-if="hasAccounts">
          <Icon type="android-settings" />
          <span>Settings</span>
        </router-link>
      </nav>
    </aside>

    <main>
      <template v-if="Object.keys(this.$root.sessions).length > 0">
        <router-view></router-view>
      </template>
      <template v-else>
        <login required />
      </template>
    </main-->
  </div>
</template>
