<script>
import Spinner from "./spinner"
export default {
  components: {
    Spinner
  },
  props: {
    text: {
      type: String,
      default: ""
    }
  }
}
</script>

<style scoped>
.overlay {
  background: var(--color-dark);
  color: var(--color-highlight);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0 !important;

  display: flex;
  align-items: center;
}

.overlay .inner {
  margin: auto;
  flex: 0;
}

.overlay .inner .spinner {
  margin: auto;
}
.overlay .inner .message {
  white-space: nowrap;
}
</style>


<template>
  <div class="overlay">
    <div class="inner">
      <spinner size="80px" class="spinner" />
      <div class="message" v-if="text.length">{{ text }}</div>
    </div>
  </div>
</template>
