<script>

export default {
  props: {
    size: {
      default: '40px'
    }
  },
  computed: {
    innerStyles () {
      let size = parseInt(this.size)
      return {
        transform: 'scale(' + (size / 70) + ')'
      }
    },
    styles () {
      return {
        width: this.size,
        height: this.size
      }
    }
  }
}
</script>

<style scoped>
.spinner {
  display: block;
}

.spinner-inner {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner-inner * {
  line-height: 0;
  box-sizing: border-box;
}
.jawn {
  position: relative;
  background-color: var(--color-brand);
  width: 15px;
  height: 15px;
  margin: 0 auto;
  border-radius: 50%;
}

.jawn:after,
.jawn:before {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.jawn:after {
  left: -10px;
  top: -5px;
  background-color: var(--color-pleroma);
  transform-origin: 15px 10px;
  animation: jawn-axis 1s linear infinite;
  width: 6px;
  height: 6px;
}

.jawn:before {
  left: -25px;
  top: -15px;
  background-color: var(--color-mastodon);
  transform-origin: 30px 20px;
  animation: jawn-axis 2s linear infinite;
  width: 9px;
  height: 9px;
}
@keyframes jawn-axis {
  0% {
    transform: rotateZ(0deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotateZ(360deg) translate3d(0, 0, 0);
  }
}
</style>


<template>
  <div :style="styles" class="spinner">
    <div class="spinner-inner">
      <div :style="innerStyles" class="jawn"></div>
    </div>
  </div>
</template>
