<script>
export default {
  props: {
    title: {
      type: String,
      default: 'UiModal title'
    },
    size: {
      type: String,
      default: 'normal' // 'small', 'normal', or 'large'
    },
    role: {
      type: String,
      default: 'dialog' // 'dialog' or 'alertdialog'
    },
    transition: {
      type: String,
      default: 'scale' // 'scale', or 'fade'
    },
    removeHeader: {
      type: Boolean,
      default: false
    }
  },

  computed: {
    classes () {
      return [
        `ui-modal--size-${this.size}`,
        { 'has-footer': this.hasFooter }
      ]
    },

    hasFooter () {
      return Boolean(this.$slots.footer)
    }
  }
}
</script>

<template>
  <div class="ui-modal__container">
    <div
      v-if="!removeHeader"
      class="ui-modal__header"
    >
      <slot name="header">
        <h1 class="ui-modal__header-text">{{ title }}</h1>
      </slot>
    </div>

    <div class="ui-modal__body">
      <slot />
    </div>

    <div
      v-if="hasFooter"
      class="ui-modal__footer"
    >
      <slot name="footer" />
    </div>
  </div>
</template>
