<script>
import columns from "../../lib/columns"
export default {
  props: ["definition"],
  data() {
    const C = columns[this.definition.type]
    return {
      column: new C(this.definition)
    }
  },
  watch: {
    definition(newVal, oldVal) {
      if (newVal.type !== oldVal.type) {
        const C = columns[newVal.type]

        this.column = new C(newVal)
      }
    }
  }
}
</script>

<style scoped>
header {
  font-size: 1.2rem;
}

header span {
  font-weight: bold;
}
</style>


<template>
  <Card class="column">
    <header slot="title">
      <div class="handle"></div>
      <Icon v-if="definition.params.icon" :type="definition.params.icon" />
      <Icon v-else type="android-list" />

      <span>{{definition.name}}</span>
    </header>

    <div slot="extra">
      <i-switch>
        <Icon type="settings" slot="open" />
        <Icon type="settings" slot="close" />
      </i-switch>
    </div>

    <div>
      <component :is="column.list" :definition="definition" />
    </div>
  </Card>
</template>
